* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 63.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}

.row {
    width: 100%;
}