.Navbar {
  &__background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    z-index: 100;
    background-color: white;
    transform: scale(0);
    opacity: 0;

    &--show {
      transform: scale(50);
      transition: all 0.5s;
      opacity: 1;
    }
  }

  &__toggler {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 101;
    outline: none;
  }

  &__links {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-350%, -50%);
    opacity: 0;
    z-index: 100;
    justify-content: center;
    background-image: radial-gradient(circle farthest-corner at -0.4% 112%, rgba(102, 51, 204, 1) 0%, rgba(244, 111, 111, 1) 92.7%);
    background-size: cover;
    background-position: bottom;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;

    ol {
      list-style: none;

      li {
        font-size: 380%;
        text-transform: uppercase;
        font-weight: bold;
        color: transparent;
        animation: bounceShow 1s ease-out;
        cursor: pointer;

        &:hover,
        &:active {
          color: black;
          transition: .5s;
        }

      }
    }

    &--show {
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: all 0.4s;
    }
  }
}

@keyframes bounceShow {
  0% {
    transform: scale(0.9);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}