.about {
  padding: 10%;
  font-size: 1.8rem;
  min-height: 60rem;

  .heading-primary {
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
