.about {
    padding: 10% 10% 15%;
    font-size: 1.8rem;
    background-color: $color-tertiary;
    position: relative;
    border-bottom: 2px solid $color-primary;
    z-index: 40;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    margin-bottom: -5%;
    box-shadow: 0 0 20px black;

    p {
        color: $color-secondary;
    }

    &__info {
        padding: 5%
    }

}